<div id="container">
  
  <div id="header">
    <center><h1>Change Password</h1></center>
  </div> 
  <div id="form">
    <form action="?_method=PUT" method="POST"><center>
      
      <input type="password" placeholder="New Password" id="password" /></center>
    </div>
    <div id="footer" class="incorrect">
      <center><button type="button">Submit</button></center>
    </form>
    
  </div>
</div>